* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272625;
  color: #f3f3f3;
}

.wrapper {
  width: 100%;
  max-width: 98%;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #f3f3f3;
  font-size: 22px;
}

.header > nav {
  display: flex;
  justify-content: space-between;
}

.header ul {
  display: flex;
  gap: 100px;
}

.header li {
  list-style: none;
}

.header a {
  display: inline-block;
  text-decoration: none;
  color: #f3f3f3;
  transition: all 0.3s ease-in-out;
}

.header a:hover {
  transition: all 0.3s ease-in-out;
  color: #f1a661;
  transform: scale(1.2);
}

.profileH{
  color: #f1a661 !important;
}

/* Content */
.content {
  display: flex;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
}

.left h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.left p {
  font-size: 18px;
}

.left li {
  font-size: 18px;
  margin-left: 20px;
}

.right h2 {
  font-size: 30px;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.socials h2 {
  border-left: 5px solid #f1a661;
  padding-left: 10px;
}

.socials img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

/* Footer */
.footer {
  background-color: #f1a661;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.footer p {
  color: white;
  font-size: 18px;
}
